{% extends 'timetable/base.html' %}
{% load static %}

{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Расписание КГПК</title>
    <link rel="shortcut icon" href="{% static 'image/title.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script>
        document.addEventListener('touchmove', function(event) {
            event = event.originalEvent || event;

            if (event.scale > 1) {
                event.preventDefault();
            }
        }, false);
    </script>
</head>
<meta name="viewport" content="width=device-width, user-scalable=no">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="navbar">
            <nav>
                <ul>
                    <li class="Development-Link"><a href="#Development">Разработка</li></a>
                        <li class="Contributors-Link"><a href="#Contributors">Составителям</li></a>
                            <li class="AboutUs-Link"><a href="#AboutUs">О нас</li></a>
                </ul>
            </nav>
        </div>
        <div class="download">
            <a href="https://play.google.com/"><img src="{% static 'image/GooglePlay.png' %}" alt="Google Play"></a>
            <a href="https://www.apple.com/ru/app-store/"><img src="{% static 'image/AppStore.png' %}" alt="AppStore "></a>
        </div>
        <div class="main">
            <h1>Расписание КГПК</h1>
            <p>погрузитесь в нашу весёлую атмосферу</p>
        </div>
        <div class="button-help">
            <ul class="help-one">
                <li>Нажмите на кнопку ниже, чтобы увидеть расписание</li>
            </ul>
            <ul class="help-two">
                <li>Нажмите на кнопку справа, чтобы увидеть расписание</li>
            </ul>
        </div>

        <div class="button">
            <a href="#SuslickeTEAM">
                <img src="{% static 'image/button.png' %}" alt="button">
            </a>
        </div>
        <div class="select-st-tr">
            <button onec class="button1" id="button1">Я учитель</button>
            <script>
                document.querySelector('#button1').onclick = function() {
                    button1.innerHTML =
                        (button1.innerHTML === 'Я ученик') ? button1.innerHTML = 'Я учитель' : button1.innerHTML = 'Я ученик';
                    dropbtn.innerHTML =
                        (dropbtn.innerHTML === 'Выберите вашу группу') ? dropbtn.innerHTML = 'Выберите ваше Ф.И.О' : dropbtn.innerHTML = 'Выберите вашу группу';
                    var x = document.getElementById("dropbtn");
                    if (x.style.display === "none") {
                        x.style.display = "block";
                    } else {
                        x.style.display = "none";
                    }
                    var у = document.getElementById("dropbtn1");
                    if (у.style.display === "block") {
                        у.style.display = "none";
                    } else {
                        у.style.display = "block";
                    }
                }
            </script>
        </div>
        <div class="select">
            <div class="dropdown">
                <button onclick="stFunction()" class="dropbtn" id="dropbtn">Выберите вашу группу</button>
                <div id="myDropdown" class="dropdown-content" id="dropdown-content">
                    {% for group in groups %}
                    <a href="/shedule/group/{{ group }}/current">{{ group }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="dropdown1">
                <button onclick="sfFunction()" class="dropbtn1" id="dropbtn1">Выберите ваше ФИО</button>
                <div id="myDropdown1" class="dropdown-content1" id="dropdown-content1">
                    {% for teacher in teachers %}
                    <a href="/shedule/teacher/{{ teacher }}/current">{{ teacher }}</a>
                    {% endfor %}
                </div>
            </div>
            <script>
                function stFunction() {
                    document.getElementById("myDropdown").classList.toggle("show");
                }
                // Close the dropdown menu if the user clicks outside of it
                window.onclick = function(event) {
                    if (!event.target.matches('.dropbtn')) {
                        var dropdowns = document.getElementsByClassName("dropdown-content");
                        var i;
                        for (i = 0; i < dropdowns.length; i++) {
                            var openDropdown = dropdowns[i];
                            if (openDropdown.classList.contains('show')) {
                                openDropdown.classList.remove('show');
                            }
                        }
                    }
                }

                function sfFunction() {
                    document.getElementById("myDropdown1").classList.toggle("show1");
                }
                // Close the dropdown menu if the user clicks outside of it
                window.onclick = function(event) {
                    if (!event.target.matches('.dropbtn1')) {
                        var dropdowns = document.getElementsByClassName("dropdown-content1");
                        var i;
                        for (i = 0; i < dropdowns.length; i++) {
                            var openDropdown = dropdowns[i];
                            if (openDropdown.classList.contains('show1')) {
                                openDropdown.classList.remove('show1');
                            }
                        }
                    }
                }
            </script>
        </div>




        <div class="back-main-page">
            <ul>
                <a href="#">
                    <li>Вернуться назад</li>
                </a>
            </ul>
        </div>
        <div class="SuslickeTEAM" id="SuslickeTEAM">
            <ul>
                <a href="https://github.com/SuslickeTEAM" target="_blank">
                    <li>SuslickeTEAM</li>
                </a>
            </ul>
        </div>
        <!-- UPDATE!! CHECK THIS CLASS "Development" -->
        <div id="Development" class="Development">
            <div class="DevelopmentBody">

                <div class="DevelopmentContent">
                    <a href="#" class="DevelopmentClose">x</a>
                    </a>

                    <div class="DevelopmentTitle">
                        <p>Development</p>
                    </div>
                    <div class="DevelopmentText">
                        <p>Hello this example</p>
                    </div>
                    <div class="DevelopmentDate">
                        <p>10 сентября 2022 г. 21:07</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="Contributors" class="Contributors">
            <div class="ContributorsBody">
                <div class="ContributorsContent">
                    <a href="#" class="ContributorsClose">x</a>
                    </a>
                    <div class="ContributorsTitle">
                        <p>Contributors</p>
                    </div>
                    <div class="ContributorsText">
                        <p>Hello,this example</p>
                    </div>
                    <div class="ContributorsDate">
                        <p>10 сентября 2022 г. 21:07</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="AboutUs" class="AboutUs">
            <div class="AboutUsBody">
                <div class="AboutUsContent">
                    <a href="#" class="AboutUsClose">x</a>
                    </a>
                    <div class="AboutUsTitle">
                        <p>AboutUs</p>
                    </div>
                    <div class="AboutUsText">
                        <p>Hello,this example</p>
                    </div>
                    <div class="AboutUsDate">
                        <p>10 сентября 2022 г. 21:07</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

</html>